<aside class="single-sidebar-widget newsletter_widget">
    <h4 class="widget_title">Newsletter</h4>
    <p>
        Here, I focus on a range of items and features that we use in life without
        giving them a second thought.
    </p>
    <div class="form-group d-flex flex-row">
        <div class="input-group">
            <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Votre adresse email"
                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Votre adresse email'">
        </div>
        <a href="#" class="bbtns">S'inscrire</a>
    </div>
    <p class="text-bottom">You can unsubscribe at any time</p>
    <div class="br"></div>
</aside>