{% extends 'base.html.twig' %}

{% block title %}Validation de l'adresse email{% endblock %}

{% block body %}
    <section class="email-check-section py-5 my-5">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center w-100 flex-column" style="height: 360px;">
                <div class="cc-big-notification-icon">
                    <i class="ri-mail-send-fill fst-italic"></i>
                </div>
                <p>
                    Votre inscription a bien été prise en compte. Un email vous a été envoyé à l'adresse <strong>{{ app.user.email
                        }}</strong>.
                </p>
                <p>
                    Pour profiter de tous les contenus de la
                    plateforme, vérifiez votre boîte email
                    <span class="primary-color">Ce lien expire dans {{signatureComponents.expirationMessageKey |trans(signatureComponents.expirationMessageData,
                            'VerifyEmailBundle',
                            'fr_FR') }}</span>
                </p>
                <p>Vous n'avez reçu aucun email? Consultez vos spams ou <a href="{{ path('app_forgot_password_request') }}">reessayez</a>.</p>
                <div class="col">
                    {#                    {% for message in app.flashes('reset_password_error') %} #}
                    {#                        <div class="alert alert-success" role="alert">{{ message }}</div> #}
                    {#                    {% endfor %} #}

                </div>
            </div>
        </div>
    </section>
{% endblock %}

