<div class="comment-form">
    <h4>Laisser un commentaire</h4>
    <form>
        <div class="mb-3 row">
            <div class="mb-3 col-lg-6 col-md-6">
                <input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Enter Name'">
            </div>
            <div class="mb-3 col-lg-6 col-md-6">
                <input type="email" class="form-control" id="email" placeholder="Enter email address"
                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''"
                   onblur="this.placeholder = 'Subject'">
        </div>
        <div class="mb-3">
            <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Messege'" required=""></textarea>
        </div>
        <a href="#" class="primary-btn submit_btn">Post Comment</a>
    </form>
</div>