@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

.heebo {
    font-family: 'Heebo', sans-serif;
}

.nunito-sans {
    font-family: 'Nunito Sans', sans-serif;
}


:root {
    --dark: #181d38;
    --cc-primary: #e65c4f;
    --cc-primary-trans: rgba(230, 92, 79, 0.15);
    --cc-primary-dark: #df3d2e;
    --cc-secondary: #78a6c8;
    --cc-light: #e9eef2;
    --cc-sailing: #326789;
    --cc-sailing-trans: rgba(50, 103, 137, 0.15);
    --cc-white: #ffffff;
    --cc-text-color: #565360;
}

.primary-color {
    color: var(--cc-primary);
}

.cc-text-primary {
    color: var(--cc-primary);
}

.cc-text-ligth {
    color: var(--cc-light);
}

.cc-text-white {
    color: var(--cc-white);
}

.cc-text-color {
    color: var(--cc-text-color);
}

.cc-text-dark {
    color: var(--dark);
}

.cc-text-sailing {
    color: var(--cc-sailing);
}

.cc-bg-sailing {
    background-color: var(--cc-sailing);
}

.cc-bg-secondary {
    background-color: var(--cc-secondary);
}

.cc-bg-light {
    background-color: var(--cc-light);
}

.cc-bg-primary {
    background-color: var(--cc-primary);
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: var(--cc-text-color);
}

a {
    color: var(--cc-primary);
    font-weight: 500;
}

a:hover {
    color: var(--cc-primary-dark);
}

.fw-500 {
    font-weight: 500 !important;
}

.material-icons-sharp {
    vertical-align: middle;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.row.m0 {
    margin: 0;
}

.p_120 {
    padding-top: 120px;
    padding-bottom: 120px; }

body {
    line-height: 24px;
    /*font-size: 14px;*/
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    color: var(--cc-text-color) !important;
}