<ul class="social-links p-0">
    <li class="mb-0">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/@CodingCity" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
    </li>

    <li class="mb-0">
        <a href="https://twitter.com/intent/tweet?text={{ post.title | url_encode }}%20{{ absolute_url(path('cc_single_blog', {'slug': post.slug}))
        }}%20@CodingCity" target="_blank">
            <i class="fa-brands fa-square-twitter"></i>
        </a>
    </li>
    <li class="mb-0">
        <a href="https://www.instagram.com/codingcity237/" target="_blank">
            <i class="fa-brands fa-square-instagram"></i>
        </a>
    </li>
</ul>